@page "/app/mq136"

<h1>MQ136 Sensor Details</h1>

<div class="card-body">
	<div class="table-responsive">

		@if (IsLoading)
		{
			<p style="text-align: center; padding: 8px 0;">Loading...</p>
		}
		else
		{
			<table class="table table-hover align-middle">
				<thead class="table-light">
					<tr>
						<th>#</th>
						<th>MQ136 ID</th>
						<th>H2S Level</th>
						<th>Created At</th>
						<th>Created By</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					@if (MQ136SensorViewModel.Any())
					{
						var index = 1;

						foreach (var item in MQ136SensorViewModel)
						{
							<tr>
								<td>@index</td>
								<td>@item.Id</td>
								<td>@item.H2SLevel</td>
								<td>@item.CreatedAt.ToString("dd MMM, yyyy")</td>
								<td>@item.CreatedBy</td>
								<td>
									<button class="btn btn-sm btn-outline-danger"
											@onclick="() => DeleteMQ136Sensor(item.Id)">
										<i class="bi bi-trash"></i>
									</button>
								</td>
							</tr>

							index++;
						}
					}
					else
					{
						<tr>
							<td colspan="7" class="text-center text-muted">
								No data found
							</td>
						</tr>
					}
				</tbody>
			</table>
		}

	</div>
</div>

@code {

	private bool IsLoading { get; set; } = false;

	private List<MQ136SensorViewModel> MQ136SensorViewModel { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		IsLoading = true;
		await LoadMQ136SensorDataAsync();
		IsLoading = false;
	}

	private async Task LoadMQ136SensorDataAsync()
	{
		var data = await MQ136ApiService.GetMQ136DataAsync();

		if(data != null)
		{
			MQ136SensorViewModel = data.OrderByDescending(x => x.CreatedAt).ToList();
		}
	}

	private async Task DeleteMQ136Sensor(long mQ136Id)
	{
		var response = await MQ136ApiService.DeleteMQ136Async(mQ136Id);

		if (response.IsSuccessStatusCode)
			await LoadMQ136SensorDataAsync();
		StateHasChanged();
	}
}