@page "/app/mq7"

<h1>MQ7 Sensor Details</h1>

<div class="card-body">
	<div class="table-responsive">

		@if (IsLoading)
		{
			<p style="text-align: center; padding: 8px 0;">Loading...</p>
		}
		else
		{
			<table class="table table-hover align-middle">
				<thead class="table-light">
					<tr>
						<th>#</th>
						<th>MQ7 ID</th>
						<th>CO Level</th>
						<th>Created At</th>
						<th>Created By</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					@if (MQ7SensorViewModel.Any())
					{
						var index = 1;

						foreach (var item in MQ7SensorViewModel)
						{
							<tr>
								<td>@index</td>
								<td>@item.Id</td>
								<td>@item.COLevel</td>
								<td>@item.CreatedAt.ToString("dd MMM, yyyy")</td>
								<td>@item.CreatedBy</td>
								<td>
									<button class="btn btn-sm btn-outline-danger"
											@onclick="() => DeleteMQ7Sensor(item.Id)">
										<i class="bi bi-trash"></i>
									</button>
								</td>
							</tr>

							index++;
						}
					}
					else
					{
						<tr>
							<td colspan="7" class="text-center text-muted">
								No data found
							</td>
						</tr>
					}
				</tbody>
			</table>
		}

	</div>
</div>

@code {

	private bool IsLoading { get; set; } = false;

	private List<MQ7SensorViewModel> MQ7SensorViewModel { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		IsLoading = true;
		await LoadMQ7SensorData();
		IsLoading = false;
	}

	private async Task LoadMQ7SensorData()
	{
		var data = await MQ7ApiService.GetMQ7DataAsync();

		if (data != null)
		{
			MQ7SensorViewModel = data.OrderByDescending(x => x.CreatedAt).ToList();
		}
	}

	private async Task DeleteMQ7Sensor(long mQ7Id)
	{
		var response = await MQ7ApiService.DeleteMQ7Async(mQ7Id);

		if (response.IsSuccessStatusCode)
			await LoadMQ7SensorData();
		StateHasChanged();
	}
}